
.stickynote {
    color:black;
    display: block;
    padding:25px 25px 40px;
    margin:0px auto 20px auto;
    margin-top:0px;
    margin-bottom:20px;
    margin-left:0px;
    width:250px;
    /*height:300px; */
    font:20px'Helvetica', cursive;
    line-height:1.5;
    border:0;
    border-radius:3px;
    background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
    background: -moz-linear-gradient(#F9EFAF, #F7E98D);
    background: -o-linear-gradient(#F9EFAF, #F7E98D);
    background: -ms-linear-gradient(#F9EFAF, #F7E98D);
    background: linear-gradient(#F9EFAF, #F7E98D);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    overflow:hidden;
    transition: box-shadow 0.5s ease, width 0.5s ease, margin-left 0.5s ease, margin-top 0.5s ease, margin-bottom 0.5s ease;
    font-smoothing:subpixel-antialiased;
    max-width:520px;
    /*max-height:400px;*/
}
.stickynote:hover {
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    margin-left:-5px;
    margin-top:-5px;
    margin-bottom:25px;
    width: 260px;
}
.stickynote:focus {
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    outline:none;
}
.stickynote>.button {
    position:relative;
    top:40px;
    opacity:0;
    -webkit-transition: opacity 0.5s, top 0.5s ease-in;
    -moz-transition: opacity 0.5s, top 0.5s ease-in;
    transition: opacity 0.5s, top 0.5s ease-in;
    cursor: pointer;
    border-radius:3px;
    color:white;
    font:15px'Helvetica', cursive;
    text-align:center;
    background:grey;
    padding:5px;
    margin:0 auto;
    width:60px
}
.stickynote:hover .button {
    top:10px;
    opacity:1;
    -webkit-transition: opacity 0.5s, top 0.5s ease-out;
    -moz-transition: opacity 0.5s, top 0.5s ease-out;
    transition: opacity 0.5s, top 0.5s ease-out;
}
.stickynote>p {
    text-align:center;
}
.stickynote>img {
    width:200px;
    border-radius:5px;
}

.stickynote>p.header{
    font-size: 20px;
}
.stickynote>p.subtext{
    font-size: 16px;
}

.tape-effect{
    font-family: 'Handlee', cursive;
    background-image: url('/images/tape.png');
    background-position: center;
    background-size: 100%;
}